<li class="li-header">
  <h1 id="user-summary">
    <%= user.username %>
    <small>is on <%= user.preferred_pronoun %></small>
    <%= user.consecutive_days.ordinalize %>
    <small>day without <%= user.addiction %></small>
  </h1>
</li>
