<li class="li-header">
  <h1 id="user-summary">
    <%= user.username %>
    <small>is on <%= user.preferred_pronoun %></small>
    <span class="dry-ordinal"><%= user.consecutive_days.ordinalize %></span>
    <small>day without <%= user.addiction %></small>
  </h1>
</li>
