<%= render 'form' %>
<ul class="days">
  <% @days.each do |day| %>
    <li>
      <h2>
        <%= day.date.strftime "%A %d %B %Y" %>
        <%= image_tag 'tick.png', class: 'tick pull-right' %>
      </h2>
      <%= day.text %>
    </li>
  <% end %>
</ul>
