#user-summary {
  line-height: 1.3em;
}
.days {
  list-style: none;
  margin-left: 0px;
  .li-header {
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background: url(image-path('paper_fibers.png'));
  }
  .day {
    margin: 10px 0px;
    padding: 10px 5px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #efefef;
    min-height: 100px;
    .date-day-of-week {
      font-size: 1.75em;
      font-weight: bold;
      width: 200px;
      margin: 10px 5px;
      white-space: nowrap;
      @media (min-width: 480px) {
        font-size: 2.5em;
        display: inline-block;
      }
    }
    .date-rest-of-date {
      font-size: 1.75em;
      font-weight: bold;
      margin: 10px 5px;
      white-space: nowrap;
      @media (min-width: 480px) {
        font-size: 2.5em;
        display: inline-block;
      }
    }
    p {
      padding: 5px;
      text-align: justify;
    }
  }
  p {
    padding-left: 2px;
  }
}
.date-header {
  .date-day-of-week, .date-rest-of-date {
    display: inline-block;
  }
}

#show-day {
  box-sizing: border-box;

  h3     { padding-bottom: 5px; }
  .ghost { color: #aaa; }
  p {
    font-size: 1.2em;
    text-align: justify;
    padding-right: 6px;
  }
  .entry-options {
    margin-right: -5px;
    li { margin-left: 2px; }
  }
  .tick { margin-right: -5px }
}
#edit-day {
  .tick { margin-right: -5px }
}
