#sign-in-form {
  margin: auto;
  text-align: center;
  padding: 10px;
  .wrapper {
    text-align: left;
    padding: 0px 30px;
    display: inline-block;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
}
