.entry-options {
  clear: right;
  list-style: none;
  margin-right: 0px;
  text-align: right;
  li {
    display: inline-block;
    margin: 0px;
    padding: 0px 6px;
  }
}

#edit-day textarea {
  font-size: 1.2em;
  min-height: 300px;
  width: 100%;
  display: block;
  resize: vertical;
  box-sizing: border-box;
}
