.entry-options {
    min-width: 74px;
    float: right;
  clear: right;
  list-style: none;
  margin-right: 0px;
  text-align: center;
  li {
    display: inline-block;
    margin: 0px;
    padding: 0px 2px;
  }
}

#edit-day textarea {
  min-height: 300px;
  width: 100%;
  display: block;
  resize: vertical;
  box-sizing: border-box;
}
