@import "colors";
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  color: #333;
}

h2 {
  border-bottom: 1px solid #ddd;
}

.clear {
  clear: both;
}

#title-bar {
  background: $dryDiaryPurple;
  .container-fluid {
    margin: auto;
    max-width: 700px;
  }
  .brand {
    padding-left: 20px;
    color: #fafafa;
    font-weight: bold;
  }
}

#main-window {
  margin: auto;
  margin-top: 80px;
  height: auto;
  max-width: 700px;
  min-height: 100%;
  height: auto;
}

#signed-in-user {
  color: #fafafa;
  font-size: 14px;
  padding-top: 14px;
  float: right;
  a {
    color: #fafafa;
  }
}

#quick-links {
  background: url(image-path('paper_fibers.png'));
  width: 100%;
  .container-fluid {
    max-width: 700px;
    margin: auto;
  }
}

#account {
  margin: 4px 0px 5px 0px;
  text-align: right;
  color: #574673;
  a {
    color: #574673;
  }
}

#user-summary {
  margin: 15px 1px;
}

.hidden {
  display: none;
}

footer {
  font-size: 12px;
  color: #888;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 55px;
  background: url(image-path('paper_fibers.png'));
  position: absolute;
  bottom: 0;
}

@media (max-width: 510px){
  .row-fluid .span6 { width: 100% !important; margin-left: 0px; }
}
