html, body {
  height: 100%;
  // background: url(image-path('paper_fibers.png'));
  color: #333;
}

.clear {
  clear: both;
}

#title-bar {
  background: #574673;
  .brand {
    padding-left: 22px;
    color: #fafafa;
    font-weight: bold;
  }
}

#main-window {
  margin-top: 65px;
  height: auto;
}

#logged-in-user {
  color: #fafafa;
  font-size: 14px;
  padding-top: 15px;
  float: right;
  a {
    color: #fafafa;
  }
}

#quick-links {
  background: #fafafa;
}

#account {
  margin: 4px 0px 5px 0px;
  text-align: right;
  color: #574673;
  a {
    color: #574673;
  }
}

#user-summary {
  margin: 15px 2px;
}

.hidden {
  display: none;
}

footer {
  font-size: 12px;
  color: #888;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}
