html, body {
  height: 100%;
  // background: url(image-path('paper_fibers.png'));
  color: #333;
}

#title-bar {
  background: #574673;
  .brand {
    padding-left: 22px;
    color: #fafafa;
    font-weight: bold;
  }
  .container-fluid {
    max-width: 862px;
    margin: auto;
  }
}
#main-window {
  max-width: 862px;
  margin: auto;
  margin-top: 40px;
  height: 100%;

}

#account {
  padding-top: 10px;
  padding-right: 2px;
  text-align: right;
  color: #fafafa;
  a {
    color: #fafafa;
  }
}

#user-summary {
  margin: 15px 2px;
}

.hidden {
  display: none;
}
