.ribbon {
  color: #fff;
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  background: url(image-path('tweed.png'));
  text-align: center;
  padding: 1px 2em;
  margin-bottom: 25px;
  small { color: #fff; }
  box-shadow: 3px 3px 3px 1px #444;
  text-shadow: 2px 2px 2px darkred;
}

.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #aa0000;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
